body { 
     margin:0; padding:0;
 }
#map { 
     position: absolute; top: 0; bottom:0; right:13%; left:0; 
}

.btn-file {
    position: relative;
    margin-top: 20%;
    margin-right: 4%;
    float: right;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
#upld{
    position: relative;
    margin-top: 24%;
    margin-right: -6%;
    float: right;
}
